.App {
  display: flex;
  justify-content: center;
}
.field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container{
    display: flex;
}
.field-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

